*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
//______________________________________________________________

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
}
a, li {
  text-decoration: none;
  list-style: none;
}
header {
	font-family: 'Montserrat';
	width: 100%;
	min-height: 80px;
	.phone-menu {
		display: none;
	}
	.sub-header {
		width: 100%;
		min-height: 80px;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.logo {
			p {
				font-size: 28px;
			}
		}
		.menu-nav {
			.menu-ul {
				display: flex;
				li a {
					transition: all 0.2s ease 0s;
					display: inline-block;
					font-size: 15px;
					line-height: 25px;
					color: #000000;
					margin: 0 10px 0 10px;
				}
				li a:hover {
					color: #061e37;
					transform: scale(1.1);
				}
				li a:focus {
					transform: scale(1.1);
				}
			}
		}
		.search {
			overflow: hidden;
			position: relative;
			min-width: 200px;
			min-height: 35px;
			display: flex;
			.search-input {
				font-size: 14px;
				border-radius: 5px;
				position: absolute;
				z-index: 2;
				left: 100%;
				min-height: 35px;
				width: 100%;
				padding: 5px;
				transition: all 0.5s ease-in-out 0s;
				box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
			}
			.search-input-active {
				font-size: 14px;
				z-index: 2;
				position: absolute;
				min-height: 35px;
				width: 100%;
				left: 0;
				padding: 8px;
				box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
			}
			button {
				overflow: hidden;
				position: absolute;
				z-index: 3;
				left: 100%;
				top: -50%;
				margin: 17.5px 0 0 -35px;
				background-color: aqua;
				color: #000000;
				height: 100%;
				min-width: 35px;
				border-radius: 2px;
				transition: all 0.2s ease 0s;
				background: url('../ico/search_black.svg') center no-repeat;
				background-color: #dedede;
			}
			button:hover {
				background-color: #c8c8c8;
			}
			button:active {
				transform: scale(0.9);
			}
		}
	}
}

//////-------CONTAINER-1--------////////

.container-1 {
	width: 100%;
	min-height: 655px;
	background: #000000 url('../img/bg-container-1.webp') top/cover no-repeat;
	.list-1 {
		font-family: "Open Sans";
		max-width: 1170px;
		min-height: 655px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h1 {
			text-align: center;
			font-size: 60px;
			line-height: 60px;
			color: #ffffff;
			font-weight: 600;
		}
		p {
			margin: 30px 0 80px 0;
			letter-spacing: 1px;
			line-height: 22px;
			color: #ffffff;
			font-weight: 400;
		}
		.buttons {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
			grid-gap: 30px;
			button {
				min-height: 70px;
				background: none;
				border: 3px solid #fff;
				font-size: 20px;
				color: #ffffff;
				font-weight: 700;
				transition: all 0.3s ease 0s;
			}
			button:hover {
				background-color: #00897b;
				border: none;
			}
			button:active {
				transform: scale(0.9);
			}
		}
	}
}

//////-------CONTAINER-2--------////////

.container-2 {
	font-family: "Open Sans";
	width: 100%;
	.list-2 {
		max-width: 1170px;
		min-height: 670px;
		margin: 0 auto;
		.top-content {
			text-align: center;
			max-width: 640px;
			min-height: 335px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h1 {
				font-size: 30px;
				color: #212121;
			}
			p {
				margin-top: 35px;
				font-size: 15px;
				line-height: 22px;
				color: #212121;
				font-weight: 400;
			}
		}
		.bottom-content {
			min-height: 335px;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
			gap: 40px;
			.content-1, .content-2, .content-3,  {
				text-align: center;
				max-width: 270px;
				margin-bottom: 30px;
				h1 {
					margin: 20px 0 20px 0;
					font-size: 20px;
					line-height: 22px;
					color: #212121;
					font-weight: 600;
				}
				p {
					font-size: 15px;
					line-height: 22px;
					color: #212121;
					font-weight: 400;
				}
			}
		}
	}
}

//////-------CONTAINER-3--------////////

.container-3 {
	width: 100%;
	background-color: #e4fdf9;
	.list-3 {
		max-width: 1170px;
		min-height: 1415px;
		margin: 0 auto;
		.top-content {
			text-align: center;
			font-family: "Open Sans";
			min-height: 380px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h1 {
				font-size: 30px;
				color: #212121;
				font-weight: 700;
			}
			p {
				margin-top: 35px;
				max-width: 640px;
				font-size: 15px;
				line-height: 22px;
				color: #212121;
				font-weight: 400;
			}
		}
		.bottom-content {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
			grid-auto-rows: minmax(440px, auto);
			justify-content: center;
			grid-gap: 30px;
			.research, .portfolio, .support, .documentation, .development, .design {
				transition: all 0.2s ease 0s;
				cursor: pointer;
				font-family: "Montserrat";
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				background-color: #fff;
				.img-phone{
					min-width: 56px;
					max-width: 56px;
					min-height: 62px;
					max-height: 62px;
					background: url('../ico/smartphone.png') center/cover no-repeat;
				}
				h1 {
					font-size: 20px;
					color: #212121;
					font-weight: 600;
					margin: 38px 0 25px 0;
				}
				p {
					max-width: 285px;
					max-height: 92px;
					min-height: 92px;
					line-height: 25px;
					font-size: 15px;
					font-weight: 400;
					margin-bottom: 40px;
				}
				button {
					font-family: "Open Sans";
					min-width: 150px;
					min-height: 55px;
					border: 2px solid #212121;
					font-size: 20px;
					color: #212121;
					font-weight: 600;
					background: none;
					transition: all 0.2s ease 0s;
				}
				button:hover {
					transform: scale(1.05);
				}
			}
			.research:hover, .portfolio:hover, .support:hover, .documentation:hover, .development:hover, .design:hover {
				background-color: #00897b;
				.img-phone {
					background: url('../ico/smartphone-hover.png') center/cover no-repeat;
				}
				h1 {
					color: #fff;
				}
				p {
					color: #fff;
				}
				button {
					color: #fff;
					border: 2px solid #fff;
				}
				button:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}

//////-------CONTAINER-4--------////////

.container-4 {
	font-family: "Open Sans";
	background-color: #e4fdf9;
	width: 100%;
	.list-4 {
		max-width: 1170px;
		min-height: 1600px;
		margin: 0 auto;
		.top-content {
			width: 100%;
			min-height: 500px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h1 {
				text-align: center;
				font-size: 30px;
				line-height: 22px;
				color: #212121;
				font-weight: 700;
			}
			p {
				margin: 35px 0 110px 0;
				text-align: center;
				font-size: 15px;
				line-height: 22px;
				color: #212121;
				font-weight: 400;
			}
			.buttons {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				button {
					margin: 10px;
					font-size: 20px;
					color: #212121;
					font-weight: 600;
					padding: 20px 25px;
					background: none;
					border: 2px solid #00897b;
					transition: all 0.3s ease 0s;
				}
				button:hover {
					background-color: #00897b;
					color: #fff;
				}
			}
		}
		.center-content {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(370px, 370px));
			justify-content: center;
			grid-auto-rows: minmax(370px, 370px);
			gap: 30px;
			.item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
				overflow: hidden;
				cursor: pointer;
				font-family: "Open Sans";
				background-color: black;
				position: relative;
				transition: all 0.3s ease 0s;
				object-fit: cover;
				img {
					transition: all 0.3s ease 0s;
					height: 100%;
					object-fit: cover;
				}
				h1 {
					transition: all 0.5s ease 0s;
					opacity: 0;
					position: absolute;
					left: 50%;
					top: 50%;
					font-size: 20px;
					color: #ffffff;
					font-weight: 600;
					transform: translate(-50%, -50%);
				}
				p {
					transition: all 0.5s ease 0s;
					opacity: 0;
					position: absolute;
					left: 50%;
					top: 57%;
					transform: translate(-50%, -50%);
					font-size: 15px;
					color: #ffffff;
					font-weight: 600;
				}
			}
			.item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover, .item-5:hover, .item-6:hover {
				img {
					transform: scale(1.05);
					opacity: 0.3;
				}
				h1 {
					opacity: 1;
				}
				p {
					opacity: 1;
				}
			}
		}
		.bottom-content {
			min-height: 320px;
			display: flex;
			justify-content: center;
			align-items: center;
			button {
				min-width: 220px;
				min-height: 70px;
				background: none;
				border: 2px solid #00897b;
				font-size: 20px;
				color: #000;
				font-weight: 700;
				transition: all 0.3s ease 0s;
			}
			button:hover {
				background-color: #00897b;
				color: #fff;
			}
			button:active {
				transform: scale(0.9);
			}
		}
	}
}

//////-------CONTAINER-5--------////////

.container-5 {
	font-family: "Open Sans";
	width: 100%;
	background-color: rgba(6,12,11,0.2);
	.list-5 {
		max-width: 1170px;
		min-height: 1140px;
		margin: 0 auto;
		.top-content {
			width: 100%;
			min-height: 350px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-height: 350px;
			text-align: center;
			h1 {
				font-size: 30px;
				line-height: 22px;
				color: #212121;
				font-weight: 700;
			}
			p {
				max-width: 641px;
				font-size: 15px;
				line-height: 22px;
				color: #212121;
				font-weight: 400;
				margin-top: 25px;
			}
		}
		.bottom-content {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			justify-content: center;
			grid-gap: 30px;
			.trial, .basic, .ultimates {
				overflow: hidden;
				cursor: pointer;
				min-height: 600px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background-color: #fff;
				transition: all 0.3s ease 0s;
				.pricing {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					background-color: #3949ab;
					min-height: 190px;
					h1 {
						font-size: 25px;
						color: #ffffff;
						font-weight: 400;
						font-weight: 400;
					}
					.trial-pricing {
						margin-top: 20px;
						span {
							color: #fff;
						}
						.value {
							font-size: 25px;
							vertical-align: top;
						}
						.cena {
							font-size: 50px;
							margin: 0 10px 0 10px;
						}
						.month {
							font-size: 17px;
						}
					}
				}
				.info {
					min-height: 410px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					p {
						width: 170px;
						text-align: center;
						font-size: 17px;
						color: #212121;
						font-weight: 300;
						padding: 18px 0;
						border-bottom: 1px solid rgba(0, 0, 0, 0.4);
					}
					button {
						margin-top: 50px;
						min-width: 180px;
						min-height: 60px;
						background: none;
						border: 2px solid rgba(0, 0, 0, 0.4);
						font-size: 20px;
						color: #212121;
						font-weight: 600;
						transition: all 0.3s ease 0s;
					}
					button:hover {
						background-color: #00897b;
						border: none;
						color: #fff;
					}
					button:active {
						transform: scale(0.9);
					}
				}
			}
			.trial:hover, .basic:hover, .ultimates:hover {
				box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
				transform: scale(1.02);
			}
		}
	}
}


//////-------CONTAINER-6--------////////

.container-6 {
	font-family: "Open Sans";
	width: 100%;
	.list-6 {
		max-width: 1170px;
		min-height: 1000px;
		margin: 0 auto;
		.top-content {
			width: 100%;
			min-height: 330px;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h1 {
				font-size: 30px;
				line-height: 22px;
				color: #212121;
				font-weight: 700;
			}
			p {
				max-width: 641px;
				font-size: 15px;
				line-height: 22px;
				color: #212121;
				font-weight: 400;
				text-align: center;
				margin-top: 30px;
			}
		}
		.bottom-content {
			display: flex;
			justify-content:  center;
			.team-1, .team-2, .team-3 {
				margin: 10px;
				max-width: 370px;
				height: 460px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				img {
					width: 100%;
					border-radius: 5px;
				}
				h1 {
					font-size: 20px;
					color: #212121;
					font-weight: 600;
				}
				p {
					font-size: 15px;
					color: #212121;
					font-weight: 400;
				}
				.soccial {
					width: 100%;
					height: 10%;
					display: flex;
					justify-content: space-around;
					a {
						display: inline-block;
						position: relative;
						width: 50px;
						height: 50px;
						background-color: rgba(0, 0, 0, 0.1);
						border-radius: 5px;
						img {
							max-width: 30%;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50% );
						}
					}
					a:hover {
						background-color: rgba(0, 23, 240, 0.2);
					}
					.twitter, .message, .inner {
						img {
							max-width: 45%
						}
					}
				}
			}
		}
	}
}

//////-------CONTAINER-7--------////////

.container-7 {
	font-family: "Open Sans";
	width: 100%;
	background-color: #e4fdf9;
	.list-7 {
		max-width: 1170px;
		min-height: 900px;
		margin: 0 auto;
		.top-content {
			width: 100%;
			min-height: 340px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			h1 {
				font-size: 30px;
				color: #212121;
				font-weight: 700;
				text-align: center;
			}
			p {
				max-width: 640px;
				font-size: 15px;
				line-height: 22px;
				color: #212121;
				font-weight: 400;
				margin-top: 25px;
			}
		}
		.bottom-content {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 30px;
			.blog-2-1 {
				display: none;
			}
			.blog-1, .blog-2, .blog-3 {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(310px, 0.95fr));
				grid-auto-rows: minmax(400, auto);
				grid-column-gap: 30px;
				justify-content: center;
				margin-bottom: 20px;
				.blog-img {
					img {
						max-width: 100%;
					}
				}
				.blog-info {
					margin-top: 20px;
					h1 {
						font-size: 25px;
						color: #00897b;
						font-weight: 600;
					}
					.span-1 {
						margin: 25px 0 25px 0;
						display: inline-block;
						font-size: 17px;
						color: #212121;
						font-weight: 600;
						background: url('../ico/span-1.png') left no-repeat;
						padding: 0 25px;
					}
					.span-2 {
						margin: 25px 0 25px 0;
						display: inline-block;
						font-size: 17px;
						color: #212121;
						font-weight: 600;
						background: url('../ico/span-2.png') left no-repeat;
						padding: 0 25px;
					}
					p {
						max-width: 460px;
						font-size: 15px;
						line-height: 22px;
						color: #212121;
						font-weight: 400;
					}
				}
			}
		}
	}
}

//////-------CONTAINER-8--------////////

.container-8 {
	font-family: "Open Sans";
	width: 100%;
	background: rgba(0, 0, 0, 0.9) url('../img/contact-us.webp') center no-repeat;
	.list-8 {
		max-width: 1170px;
		min-height: 1300px;
		margin: 0 auto;
		.top-content {
			width: 100%;
			min-height: 590px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h1 {
				text-align: center;
				font-size: 30px;
				color: #ffffff;
				font-weight: 700;
			}
			p {
				text-align: center;
				margin-top: 25px;
				max-width: 640px;
				font-size: 15px;
				line-height: 22px;
				color: #ffffff;
				font-weight: 400;
			}
			.contacts {
				margin-top: 100px;
				display: flex;
				max-width: 100%;
				.location, .phone, .email {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin: 0 15px 0 15px;
					.text p {
						font-size: 20px;
						line-height: 14px;
						font-weight: 600;
					}
					.logo {
						position: relative;
						width: 105px;
						height: 105px;
						background-color: #3949ab;
						border-radius: 50%;
						img {
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
						}
					}
				}
			}
		}
		.bottom-content {
			width: 100%;
			.form-div {
				max-width: 1030px;
				margin: 0 auto;
				.form {
					width: 100%;
					.div-name-email {
						width: 100%;
						display: flex;
						justify-content: space-between;
						input {
							width: 48%;
							min-height: 85px;
							border-radius: 10px;
							font-size: 20px;
							font-weight: 600;
							padding: 15px;
							margin-top: 20px;
						}
					}
					.textarea {
						width: 100%;
						resize: none;
						padding: 15px;
						border-radius: 10px;
						font-size: 20px;
						font-weight: 600;
						margin: 35px 0 35px 0;
					}
					button {
						min-width: 220px;
						min-height: 70px;
						border-radius: 10px;
						font-size: 20px;
						color: #212121;
						font-weight: 700;
						transition: all 0.3s ease 0s;
					}
					button:hover {
						background-color: #212121;
						color: #fff;
					}
					button:active {
						transform: scale(0.9);
					}
				}
			}
		}
	}
}

//////-------FOOTER--------////////

footer {
	width: 100%;
	min-height: 65px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		font-size: 20px;
		font-family: "Montserrat";
		color: #212121;
		font-weight: 700;
	}
}

//////-------MEDIA--------////////
//////-------MEDIA--------////////
//////-------MEDIA--------////////

//////-------1280px--------////////

@media (max-width: 1280px) {
	.container-1, .container-2, .container-3, .container-4, .container-5, .container-6, .container-7, .container-8 {
		width: 100%;
		.list-1, .list-2, .list-3, .list-4, .list-5, .list-6, .list-7, .list-8 {
			max-width: 1024px;
		}
	}
}
//////-------1152px--------////////
@media (max-width: 1152px) {
	.container-1, .container-2, .container-3, .container-4, .container-5, .container-6, .container-7, .container-8 {
		width: 100%;
		.list-1, .list-2, .list-3, .list-4, .list-5, .list-6, .list-7, .list-8 {
			max-width: 960px;
		}
	}
}
//////-------1024px--------////////
@media (max-width: 1024px) {
	.container-1, .container-2, .container-3, .container-4, .container-5, .container-6, .container-7, .container-8 {
		width: 100%;
		.list-1, .list-2, .list-3, .list-4, .list-5, .list-6, .list-7, .list-8 {
			max-width: 854px;
		}
	}
}
//////-------960--------////////
@media (max-width: 960px) {
	header {
		min-height: 80px;
		background-color: #ffffff;
		.sub-header {
			display: none;
		}
		.phone-menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			min-height: 80px;
			position: relative;
			.phone-logo {
				margin-left: 5px;
				position: relative;
				z-index: 5;
				p {
					font-size: 22px;
					font-weight: 600;
				}
			}
			.phone-menu-nav {
				position: absolute;
				z-index: 0;
				top: 80px;
				right: 0;
				width: 0;
				overflow: hidden;
				background-color: rgba(300, 300, 300, 0.9);
				transition: all 0.5s ease 0s;
				.menu-ul {
					width: 100%;
					min-height: 400px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					li a {
						color: #000;
						font-weight: 600;
					}
				}
			}
			.phone-menu-nav-active {
				position: absolute;
				z-index: 1;
				right: 0;
				top: 80px;
				width: 100%;
				min-height: 200px;
				background-color: rgba(300, 300, 300, 0.9);
				transition: all 0.5s ease 0s;
				.menu-ul {
					width: 100%;
					min-height: 400px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					li a {
						color: #000;
						font-weight: 600;
					}
					li .phone-search {
						position: relative;
						z-index: 5;
						min-width: 310px;
						min-height: 35px;
						display: flex;
						.phone-search-input {
							font-size: 14px;
							z-index: 2;
							position: absolute;
							min-height: 35px;
							width: 100%;
							left: 0;
							padding: 8px;
							background-color: #ffffff;
							box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
						}
						button {
							overflow: hidden;
							position: absolute;
							z-index: 3;
							left: 100%;
							top: -50%;
							margin: 17.5px 0 0 -35px;
							color: #000000;
							height: 100%;
							min-width: 35px;
							border-radius: 2px;
							transition: all 0.2s ease 0s;
							background: url('../ico/search_black.svg') center no-repeat;
							background-color: #dedede;
						}
						button:hover {
							background-color: #c8c8c8;
						}
						button:active {
							transform: scale(0.9);
						}
					}
				}
			}
			.menu-logo {
				cursor: pointer;
				transition: all 0.3s ease 0s;
				min-width: 50px;
				min-height: 50px;
				background: url('../ico/menu.svg') center no-repeat;
				margin-right: 5px;
			}
			.menu-logo-active {
				min-width: 50px;
				min-height: 50px;
				background: url('../ico/menu-active.svg') center no-repeat;
				margin-right: 5px;
			}
		}
	}
	.container-1, .container-2, .container-3, .container-5, .container-6, .container-7, .container-8 {
		width: 100%;
		.list-1, .list-2, .list-3, .list-5, .list-6, .list-7, .list-8 {
			width: 95%;
		}
	}
	.container-4 {
		.list-4 {
			width: 95%;
			.center-content {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(310px, 310px));
				justify-content: center;
				grid-auto-rows: minmax(310px, 310px);
				gap: 30px;
			}
		}
	}
}

//////-------PHONE--------////////
//////-------767--------////////

@media (max-width: 767px) {
	header {
		min-height: 80px;
		background-color: #ffffff;
		.sub-header {
			display: none;
		}
		.phone-menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			min-height: 80px;
			position: relative;
			.phone-logo {
				margin-left: 5px;
				position: relative;
				z-index: 5;
				p {
					font-size: 22px;
					font-weight: 600;
				}
			}
			.phone-menu-nav {
				position: absolute;
				z-index: 0;
				top: 80px;
				right: 0;
				width: 0;
				overflow: hidden;
				background-color: rgba(300, 300, 300, 0.9);
				transition: all 0.5s ease 0s;
				.menu-ul {
					width: 100%;
					min-height: 400px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					li a {
						color: #000;
						font-weight: 600;
					}
				}
			}
			.phone-menu-nav-active {
				position: absolute;
				z-index: 1;
				right: 0;
				top: 80px;
				width: 100%;
				min-height: 200px;
				background-color: rgba(300, 300, 300, 0.9);
				transition: all 0.5s ease 0s;
				.menu-ul {
					width: 100%;
					min-height: 400px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					li a {
						color: #000;
						font-weight: 600;
					}
					li .phone-search {
						position: relative;
						z-index: 5;
						min-width: 310px;
						min-height: 35px;
						display: flex;
						.phone-search-input {
							font-size: 14px;
							z-index: 2;
							position: absolute;
							min-height: 35px;
							width: 100%;
							left: 0;
							padding: 8px;
							background-color: #ffffff;
							box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
						}
						button {
							overflow: hidden;
							position: absolute;
							z-index: 3;
							left: 100%;
							top: -50%;
							margin: 17.5px 0 0 -35px;
							color: #000000;
							height: 100%;
							min-width: 35px;
							border-radius: 2px;
							transition: all 0.2s ease 0s;
							background: url('../ico/search_black.svg') center no-repeat;
							background-color: #dedede;
						}
						button:hover {
							background-color: #c8c8c8;
						}
						button:active {
							transform: scale(0.9);
						}
					}
				}
			}
			.menu-logo {
				cursor: pointer;
				transition: all 0.3s ease 0s;
				min-width: 50px;
				min-height: 50px;
				background: url('../ico/menu.svg') center no-repeat;
				margin-right: 5px;
			}
			.menu-logo-active {
				min-width: 50px;
				min-height: 50px;
				background: url('../ico/menu-active.svg') center no-repeat;
				margin-right: 5px;
			}
		}
	}
	////////////////////////////////////
	.container-1 {
		min-height: 500px;
		.list-1 {
			width: 95%;
			min-height: 500px;
			h1 {
				font-size: 36px;
				line-height: 40px;
				color: #ffffff;
				font-weight: 600;
			}
			p {
				text-align: center;
				margin: 25px 0 50px 0;
			}
			.buttons {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
				grid-gap: 24px;
				button {
					min-width: 200px;
					min-height: 50px;
					margin: 0 auto;
				}
				button:hover {
					background-color: #00897b;
					border: none;
				}
				button:active {
					transform: scale(0.9);
				}
			}
		}
	}
	////////////////////////////////////
	.container-2 {
		font-family: "Open Sans";
		width: 100%;
		.list-2 {
			width: 95%;
			.top-content {
				min-height: 250px;
			}
		}
	}
	////////////////////////////////////
	.container-4 {
		.list-4 {
			width: 95%;
			.top-content {
				min-height: 600px;
				.buttons {
					button {
						padding: 15px 20px;
					}
				}
			}
			.center-content {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(310px, 310px));
				justify-content: center;
				grid-auto-rows: minmax(310px, 310px);
				gap: 30px;
			}
			.bottom-content {
				min-height: 150px;
			}
		}
	}
	///////////////////////////////////
	.container-5 {
		.list-5 {
			width:95%;
			.top-content {
				min-height: 200px;
			}
			.bottom-content {
				.trial, .basic, .ultimates {
					min-height: 300px;
					.info {
						min-height: 80px;
						p {
							display: none;
						}
						button {
							margin: 10px 0 20px 0;
						}
						button:hover {
							background-color: #00897b;
							border: none;
							color: #fff;
						}
						button:active {
							transform: scale(0.9);
						}
					}
				}
				.trial:hover, .basic:hover, .ultimates:hover {
					transform: scale(1);
				}
			}
		}
	}
	///////////////////////////////////
	.container-6 {
		.list-6 {
			width: 95%;
			min-height: 500px;
			.top-content {
				width: 100%;
				min-height: 200px;
			}
			.bottom-content {
				display: grid;
				justify-content: center;
				grid-gap: 30px;
				margin-bottom: 20px;
			}
		}
	}
	///////////////////////////////////
	.container-7 {
		.list-7 {
			max-width: 95%;
			.top-content {
				min-height: 200px;
			}
			.bottom-content {
				width: 100%;
				gap: 20px;
				.blog-2 {
					display: none;
				}
				.blog-2-1 {
					width: 100%;
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(310px, 0.95fr));
					grid-auto-rows: minmax(400, auto);
					grid-column-gap: 30px;
					justify-content: center;
					.blog-img {
						img {
							max-width: 100%;
						}
					}
					.blog-info {
						margin-top: 20px;
						h1 {
							font-size: 25px;
							color: #00897b;
							font-weight: 600;
						}
						.span-1 {
							margin: 25px 0 25px 0;
							display: inline-block;
							font-size: 17px;
							color: #212121;
							font-weight: 600;
							background: url('../ico/span-1.png') left no-repeat;
							padding: 0 25px;
						}
						.span-2 {
							margin: 25px 0 25px 0;
							display: inline-block;
							font-size: 17px;
							color: #212121;
							font-weight: 600;
							background: url('../ico/span-2.png') left no-repeat;
							padding: 0 25px;
						}
						p {
							max-width: 460px;
							font-size: 15px;
							line-height: 22px;
							color: #212121;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
	.container-8 {
		.list-8 {
			width: 95%;
			min-height: 500px;
			.top-content {
				min-height: 400px;
				h1 {
					margin-top: 30px;
				}
				p {
					text-align: center;
				}
				.contacts {
					margin: 30px 0 30px 0;
					display: flex;
					flex-direction: column;
					.location, .phone, .email {
						display: flex;
						flex-direction: row;
						align-items: center;
						margin: 20px 0;
						.text {
							margin-top: -30px;
						}
						.text p {
							margin-left: 20px;
							font-size: 14px;
							line-height: 7px;
						}
						.logo {
							width: 60px;
							height: 60px;
							img {
								max-width: 50%;
							}
						}
					}
				}
			}
			.bottom-content {
				width: 100%;
				.form-div {
					width: 95%;
					margin: 0 auto;
					.form {
						width: 100%;
						.div-name-email {
							width: 100%;
							display: flex;
							flex-direction: column;
							input {
								width: 100%;
								min-height: 50px;
								font-size: 14px;
							}
						}
						.textarea {
							font-size: 14px;
						}
						button {
							min-width: 200px;
							min-height: 50px;
							font-size: 14px;
							margin-bottom: 20px;
						}
						button:hover {
							background-color: #212121;
							color: #fff;
						}
						button:active {
							transform: scale(0.9);
						}
					}
				}
			}
		}
	}
}

@media (max-height: 768px) {
	header {
		min-height: 80px;
		background-color: #ffffff;
		.sub-header {
			display: none;
		}
		.phone-menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			min-height: 80px;
			position: relative;
			.phone-logo {
				margin-left: 5px;
				position: relative;
				z-index: 5;
				p {
					font-size: 22px;
					font-weight: 600;
				}
			}
			.phone-menu-nav {
				position: absolute;
				z-index: 0;
				top: 80px;
				right: 0;
				width: 0;
				overflow: hidden;
				background-color: rgba(300, 300, 300, 0.9);
				transition: all 0.5s ease 0s;
				.menu-ul {
					width: 100%;
					min-height: 400px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					li a {
						color: #000;
						font-weight: 600;
					}
				}
			}
			.phone-menu-nav-active {
				position: absolute;
				z-index: 1;
				right: 0;
				top: 80px;
				width: 100%;
				min-height: 200px;
				background-color: rgba(300, 300, 300, 0.9);
				transition: all 0.5s ease 0s;
				.menu-ul {
					width: 100%;
					min-height: 400px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					li a {
						color: #000;
						font-weight: 600;
					}
					li .phone-search {
						position: relative;
						z-index: 5;
						min-width: 310px;
						min-height: 35px;
						display: flex;
						.phone-search-input {
							font-size: 14px;
							z-index: 2;
							position: absolute;
							min-height: 35px;
							width: 100%;
							left: 0;
							padding: 8px;
							background-color: #ffffff;
							box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
						}
						button {
							overflow: hidden;
							position: absolute;
							z-index: 3;
							left: 100%;
							top: -50%;
							margin: 17.5px 0 0 -35px;
							color: #000000;
							height: 100%;
							min-width: 35px;
							border-radius: 2px;
							transition: all 0.2s ease 0s;
							background: url('../ico/search_black.svg') center no-repeat;
							background-color: #dedede;
						}
						button:hover {
							background-color: #c8c8c8;
						}
						button:active {
							transform: scale(0.9);
						}
					}
				}
			}
			.menu-logo {
				cursor: pointer;
				transition: all 0.3s ease 0s;
				min-width: 50px;
				min-height: 50px;
				background: url('../ico/menu.svg') center no-repeat;
				margin-right: 5px;
			}
			.menu-logo-active {
				min-width: 50px;
				min-height: 50px;
				background: url('../ico/menu-active.svg') center no-repeat;
				margin-right: 5px;
			}
		}
	}
	.container-1, .container-2, .container-3, .container-5, .container-6, .container-7, .container-8 {
		width: 100%;
		.list-1, .list-2, .list-3, .list-5, .list-6, .list-7, .list-8 {
			width: 95%;
		}
	}
	.container-4 {
		.list-4 {
			width: 98%;
			.center-content {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
				justify-content: center;
				grid-auto-rows: minmax(300px, 300px);
				gap: 20px;
			}
		}
	}
}
